{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul class="nav-container">
                <li class="nav-item">
                    Auctions
                    <span class="nav-user">
                        {% if user.is_authenticated %}
                            Welcome back <strong>{{ user.username }}</strong>
                            {% else %}
                                Not signed in.
                            {% endif %}
                    </span>
                    
                </li>
                <li class="nav-item">
                    <a href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'categories' %}">Categories</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'create-listing' %}">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        
        {% block body %}
        {% endblock %}
    </body>
</html>
