{% extends "auctions/layout.html" %}

{% block body %}
    <div class="page-container">
        <div class="listing-header">
            <h2>{{ listing.title }}</h2>
            {% if listing.is_active and user == listing.user %}
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Close Listing" name="submit_close_listing">
                </form>
            {% endif %}
        </div>

        <hr>

        <div class="content">
            <div class="listing-left">
                <div class="listing-image-container">
                    <img class="listing-image"src="{{ listing.image }}">
                </div>
            </div>
            <div class="listing-right">
                <p>{{ listing.description }}</p>
                {% if listing.highest_bid is None%}
                    <h3>Starting Price: ${{ listing.starting_bid }}</h3>
                {% else %}
                    <h3>Highest bid: ${{ listing.highest_bid.amount }}</h3>
                {% endif %}
                {% if user.is_authenticated %}
                <!-- check if current user is not the owner of listing and display bidding field and watchlist btn-->
                    {% if not user == listing.user and listing.is_active %}
                        <form method="post" autocomplete="off">
                            {% csrf_token %}
                            <input type="text" min="0" name="bid" placeholder="Bid">
                            {% if message %}
                                <p>{{ message }}</p>
                            {% endif %}
                            <input type="submit" value="Place Bid" name="submit_bid">
                        </form>
                        {% if watchlist is None %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="submit" value="Add To Watchlist" name="submit_watchlist">
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="submit" value="Remove From Watchlist" name="submit_remove_watchlist">
                            </form>
                        {% endif %}
                    {% elif user == listing.winner %}
                        <h1>WINNER</h1>
                    <!-- if user is the owner of listing display close button -->
                    {% endif %}
                {% endif %}
                {% if bids %}
                    <h3>All Bids:</h3>
                    {% for bid in bids %}
                        <h4>{{bid.amount}}</h4>
                    {% endfor %}
                {% endif %}
            
            </div>
        </div>
        <h2>Comments: </h2>
        <hr>
        <div class="comments-container">
        {% for comment in comments %}
            <p><strong>{{comment.user}}</strong>: {{ comment.comment }}</p>
            {% empty %}
        {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="input-container">
                    <input type="text" name="comment" placeholder="Comment">
                </div>
                <div class="submit-container">
                    <input type="submit" name="submit_comment" value="Post Comment">
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}